<div class="row">
        <div class="col s12">
<div class="card output-container z-depth-5">
  <p class="card-title" style="text-align: center;">
    ANAGRAM OUTPUT
  </p>
  <h1 style="text-align:center">{{test}}</h1>
</div>
</div>
</div>

<div class="row">
  <div class="input-field col s4">
  </div>
  <div class="input-field col s4">
    <input type="text" [(ngModel)]="test" name="test">
    <label for="test">Anagram Input</label>
  </div>
  <div class="input-field col s4">
  </div>
</div>
<p style="text-align:center">
  <a class="waves-effect waves-light btn-large center-align" (click)="refreshString()" style="margin:auto;background-color:#4a78bd;">Refresh Anagram</a>
</p>
